[user]
	email = {ID}+{username}@users.noreply.github.com
	name = Crimson Vulture
[core]
	editor = vim
	editor = pager
	pager = less -FRXS
	editor = vim
[color]
	ui = true
[merge]
	tool = vimdiff
	summary = true
